$width: 400px;

my-modal {
    border: 1px solid lightgray;
    left: calc(50% - (#{$width} / 2));
    padding: 16px;
    position: fixed;
    top: 30%;
    width: $width;

    &.off {
        display: none;
    }
}

